// Standard fonts option
@font-face {
    font-family: 'Avenir';
    src: url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url('../../assets/Font/AvenirNextLTPro-Demi.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('otf');
}

// Alternative fonts option
@font-face {
    font-family: 'Avenir-Pro';
    src: url('../../assets/Font/Alternative-files/AvenirNextLTPro.ttf') format('ttf');
}

@font-face {
    font-family: 'Avenir-Pro-Demi';
    src: url('../../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf') format('ttf');
}

@font-face {
    font-family: 'Avenir-Pro-Bold';
    src: url('../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf') format('ttf');
}