@use './variables' as *;


// cta button style
@mixin cta {
    height: 40px;
    width: fit-content;
    border-radius: 4px;
    color: $White;
    background-color: $BrainFlix-Blue;
    border: none;
    &:hover {
        background-color: $BrainFlix-DarkBlue;
    }
}

// Desktop/Tablet width for cta button
@mixin cta-width {
    width: 150px;
    padding: 0 32px;
}

// Tablet breakpoint
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

// Desktop breakpoint
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}