@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    border-bottom: 1px solid $Mercury;
    @include tablet {
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 24px;
    }
    @include desktop {
        padding: 0 48px;
        margin: 0 10%;
    }
    &__logo-div {
        align-items: center;
        width: 100%;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        @include tablet {
            padding: 24px 24px 24px 0;
            width: 40%;
            justify-content: flex-start;
        }
        @include desktop {
            width: 55%;
        }
    }
    &__logo{
        max-height: 25px;
        max-width: 120px;
    }
    &__search-form {
        border: 1px solid $Mercury;
        width: 85%;
        background-color: $Alabaster;
        height: 36px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        @include tablet {
            margin: 16px 0;
            width: 220px;
            height: 40px;
        }
        &-img {
            margin: 0 0 0 10px;
        }
        &-input {
            background-color: transparent;
            border: none;
            height: 40px;
            min-width: 85%;
            margin-left: 5px;
            font-size: 18px;
        }
        &-input:focus{
            outline: none;
        }
    }
    &__search-form:hover{
        border: 1px solid $BrainFlix-Blue;
    }
    // wrapper for profile 
    &__profile-wrapper {
        flex-basis: auto;
        margin-left: auto;
        @include tablet {
            padding: 16px 0;
            align-self: flex-end;
            order: 1;
            margin: 0;
        }
    }
    // profile image for the navbar
    &__profile-img {
        border-radius: 50%;
        height: 2.65rem;
        width: 2.65rem;
        object-fit: cover;
        object-position: 30% 90%;
    }
    // cta button wrapper 
    &__btn-wrapper {
        width: 100%;
        padding: 16px 0;
        @include tablet {
            width: 150px;
        }
    }
    // cta button
    &__btn {
        @include cta;
        width: 100%;
        font-weight: bold;
        padding-left: 5px;
        position: relative; 
        &:before {
            content: '';
            background-image: url('../assets/Icons/upload.svg');
            background-size: cover;
            width: 24px; 
            height: 24px;
            position: absolute;
            left: 12px; 
            top: 50%;
            transform: translateY(-50%);
        }
        @include tablet {
            @include cta-width;
            padding-left: 50px;
        }
        // for Link in react
        &-link {
            text-decoration: none;
        }
    }
}

