@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.upload {
    margin: 0 16px;
    font-family: 'Avenir';
    @include tablet {
        margin: 0 24px;
    }
    @include desktop {
        margin: 0 120px;
        padding: 0 96px;
    }
    &__heading {
        font-size: 24px;
        @include tablet {
            font-size: 33px;
            margin-bottom: 0;
            padding-bottom: 27.390px;
            border-bottom: 1px solid $Mercury;
        }
    }
    &__heading2 {
        color: $Silver;
        font-size: 13px;
        @include tablet {
            font-size: 14px;
            margin-top: 24px;
        }
        @include desktop {
            margin-bottom: 4px;
        }
    }
    &__thumbnail {
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        // div to wrap video and heading
        &-box {
            @include desktop { 
                margin-right: 24px;
            }
        }
        &-video {
           background-color: $Mercury; 
           border-radius: 4px;
           width: 100%;
           height: auto;
           max-height: 242px;
           @include tablet {
            width: 45%;
            max-width: 100%;
           }
           @include desktop {
            width: 100%;
           }
        }
    }
    &__form {
        padding: 16px 0;
        @include tablet {
            padding: 24px 0;
        }
        @include desktop {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
        }
        // for desktop layout
        &-wrapper {
            @include desktop {
                flex: 1;
            }
        }
        &-subtitle {
            color: $Silver;
            font-size: 12px;
            font-weight: bold;
            padding: 16px 0;
            @include desktop {
                font-size: 14px;
                padding: 0;
            }
        }
        &-input {
            width: 100%;
            background-color: $Alabaster;
            border-radius: 4px;
            border: 1px solid $Mercury;
            word-wrap: break-word;
            padding: 15px 10px;
            box-sizing: border-box;
            @include tablet {
                margin-bottom: 24px;
            }
            @include desktop {
                padding-right: 500px; 
            }
            // to have a padding high than the first input
            &--large {
                padding-bottom: 100px;
                @include desktop {
                    padding-bottom: 118px;
                }
            }
        }
        // only for tablet/desktop layout
        &-btns-container {
            @include tablet {
                display: flex;
                flex-direction: row-reverse;
                padding-top: 24px;
                border-top: 1px solid $Mercury;
                justify-content: flex-start;
            }
        }
        &-btn {
            @include cta;
            width: 100%;
            margin-bottom: 16px;
            font-weight: bold;
            padding-left: 5px;
            position: relative; 
            &:before {
                content: '';
                background-image: url('../../assets/Icons/upload.svg');
                background-size: cover;
                width: 24px; 
                height: 24px;
                position: absolute;
                left: 12px; 
                top: 50%;
                transform: translateY(-50%);
            }
            @include tablet {
                margin: 0;
                width: auto;
                padding: 8px 50px;
                margin-left: 16px;
            }
        }
        &-cancel {
            width: 100%;
            font-weight: bold;
            color: $BrainFlix-Blue;
            height: 40px;
            border: none;
            background-color: transparent;
            @include tablet {
                width: auto;
                padding: 8px 50px;
            }
        }
    }
}

