@use './styles/partials/general-forwarding';
@use './styles/VideoItem.scss';
@use './styles/VideoList.scss';
// partials
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;

.desktop {
    @include desktop {
        display: flex;
        padding: 0 24px;
        margin: 0 10%;
    }
}
